@use "../../../shared/style/colors" as c;

.Board {
  background: c.$black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25px;
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}
